<!DOCTYPE html>
<html>
  <head>
    <title>転クエ掲示板</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# Bootstrap 導入のためリンク追加 %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
     integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>
  <body>
    <%= render 'templates/header' %>
      <div class="notifications">
        <% flash.each do |message_type, message| %>
          <div class="text-center alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      </div>
      <div class="wrapper">
      <%= yield %>
    </div>
    <%= render 'templates/footer' %>
  </body>
</html>
